<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工信息管理系统</title>
</head>
<body>
<h1>成功啦！</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success">
            <table border="2" align="center">
                <tr>
                    <td>序号</td>
                    <td>用户名</td>
                    <td>年龄</td>
                </tr>
                <tr th:each ="i:${info}">
                    <td th:text = "${i.id}"></td>
                    <td th:text = "${i.fan_no}"></td>
                    <td th:text = "${i.call_time}"></td>
                    <td th:text = "${i.call_count}"></td>
                </tr>
            </table>
        </div>
    </div>

</div>

</body>
</html>